name: Tests
on:
  push:
  # Triggers the workflow on labeled PRs only.
  pull_request_target:
    types: [labeled]

jobs:
  Jenkins-JFrog-Plugin-Tests:
    if: (contains(github.event.pull_request.labels.*.name, 'safe to test') || github.event_name == 'push') && github.repository_owner != 'jenkinsci'
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macOS excluded - JGC-413: artifactory bootstrap in osx is broken
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Java
        uses: actions/setup-java@v4
        id: setup-java
        with:
          java-version: "17"
          distribution: "temurin"
          cache: 'maven'
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
          cache: false

      - name: Setup Artifactory
        uses: jfrog/.github/actions/install-local-artifactory@main
        with:
          RTLIC: ${{ secrets.RTLIC }}

      - name: Run tests
        env:
          JFROG_URL: "http://localhost:8081/"
          JFROG_USERNAME: "admin"
          JFROG_PASSWORD: "password"
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        run: mvn -V -B -U --no-transfer-progress clean verify -DskipITs=false "-Dfindbugs.failOnError=false"
